<div class="container-fluid">
  <div class="row">
    
    <div class="col-2">
    <br/>
        <select class="form-control" #t (change)="filterCat(t.value)">
          <option *ngFor="let item of getCategory()" [value]="item">{{item}}
          </option>
        </select>
          </div>

    <div class="col-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of getList()">
            <tr>
                <td [style.color]="item.price > 500 ?  'red': 'black'">{{item.id}}</td>
                <td [style.color]="item.price > 500 ?  'red': 'black'">{{item.name}}</td>
                <td [style.color]="item.price > 500 ?  'red': 'black'">{{item.price}}</td>
                <td [style.color]="item.price > 500 ?  'red': 'black'">{{item.category}}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteRow(item.id)">Delete</button>
                </td>
            </tr>
          </ng-container>
        </tbody>
    </table>
    </div>
  <div class="col-2">

    </div>
  </div>
</div>
